* {
  scrollbar-width: thin;
  scrollbar-color: #84cc16 #030819;

  ::-webkit-scrollbar-thumb:hover {
    background-color: #65a30d;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #84cc16;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #84cc16 hsl(168deg 95% 43% / 10%);
}